@import 'utility.css';
:root{
    --a:#ff0000;
    --b:#0000ff;
    --c: #808080;
    --d: #800080;
    --e:#d87093;
    --f: #000000;
}
body{
    height: 2800px;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smothing:antialiased;
}
header{
    background: var(--f);
    height: 650px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 87%, 0 100%);
    
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}



header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all .2s;
}
header nav .left a:hover{
    color: aqua;
}
header nav{
    padding: 2rem;
}
header nav .branding{
margin-right: 3rem;
}
.hero{
    padding: 3rem o;
}
.hero .right{
    color: white;
}
.hero .right h6{
    font-size: 27px;
    color:white;
    margin-bottom: 0.2rem;
}
.hero .right h1{
    font-size: 75px;
    font-weight: 600;
    color:aqua;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.hero .right h3{
    font-size: 40px;
    color:white;
    margin: 5px 0;
}
.hero .right h3 span{
    color:red;
    font-weight: 500;
}
.hero .right p{
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: aqua;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'lato', sans-serif;
    color: gray;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius:50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
}
section.about .social a:hover{
    background:black;
}

.section-heading{
    color: blue;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading +p{
    color: blueviolet;
    font-family: 'lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
section.services{
    background:gainsboro;
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
}
section.services .card-wrapper .card{
    background: white;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 3rem;
    text-align: center;
    transition: all .3s ease;

}
section.services .card-wrapper .card img{
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'lato', sans-serif;
    color: var(--c);
    line-height: 1.6;
}

section.services .card-wrapper .card:hover{
    background: #000000;
}
section .max-width {
    text-align: center;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content  .left{
    width: calc(50% - 30px);
    margin-top: 5rem
}
.skills .title{
    font-size: 3rem;
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin: center;
}
.skills .skills-content .right{
    margin-top: 2rem;
    margin-right: 17rem;
    text-align: center;
    margin-bottom: -3rem;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .c::before{
    width: 80%;
}
.skills-content .right .python::before{
    width: 50%;
}
.skills-content .right .javascript::before{
    width: 20%;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 500;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: grey;
    font-weight: 500;
    margin-bottom: 4rem;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact input{
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 0.5rem;
    border: 1px solid lavender;
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 0.5rem;
    border: 1px solid lavender;
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: black;
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 290px;
}
footer.footer-socials a{
    margin-right: 1rem;
}
footer.footer-socials{
    margin-bottom: 2rem;
    margin-right: -1rem;
}
footer .copyright{
    color: #808080;
    margin-top: 2rem;
}

.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all .5ms ease-in-out;
    -webkit-transform: all .5ms ease-in-out;
    -moz-transform: all .5ms ease-in-out;
    -ms-transform: all .5ms ease-in-out;
    -o-transform: all .5ms ease-in-out;
}
.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2rem;

}
@media (max-width: 100px){
    header #main-nav{
        display: none;
    }
}